.stopwatch h3
{
    color: #222222;
    margin: 0px;
    font-size: 24px;
}
.stopwatch h3 span {font-size: 90%;}
.stopwatch div.stopwatch_stop {display: none}
.stopwatch div.stopwatch_start {float: left; display: block}
div.app_stopwatch_started div.stopwatch_start {display: none}
div.app_stopwatch_started div.stopwatch_stop {float: left; display: block}
.button_widget {padding: 0px}

.stopwatch table td { text-align: center; }
