.input_pset_input
{
	background:white url(input.png) repeat-x scroll 0pt top;
	border:1px solid #CCCCCC;
	font-family:"Lucida Grande",Lucida,Verdana,sans-serif;
	font-weight:bold;
	padding:5px;
	outline:none;
}

