/*********************************************************
 * OVERRIDE ANY GLOBAL STYLES ON CONTROL'S BASE ELEMENTS
 *********************************************************/
.button_aqua_blue_container img
{
	padding:0px !important;
	margin:0px !important;
}
.button_aqua_blue_container button
{
	padding:0px;
	margin:0px !important;
	padding-bottom:2px !important;	
}

/********************************************************
* CONTROL STYLES
*********************************************************/

.button_aqua_blue_left
{
	position:relative;
	background:transparent url(images/left.png) no-repeat;
	top:7px ;
	height:23px;
	width:13px;
}

.button_aqua_blue_middle
{
	background:transparent url(images/middle.png) repeat-x;
	line-height:23px;
    cursor:pointer;	
	font-size:12px !important;	
	border:0px none;
	height:23px;
}


.button_aqua_blue_right
{
	position:relative;
	background:transparent url(images/right.png) no-repeat;
	top:7px;
	height:23px;
	width:13px;
}

/* IE styles */
body.msie .button_aqua_blue_right
{
	top:4px !important;
}
body.msie .button_aqua_blue_middle
{
	padding-bottom:0px !important;
}
body.msie .button_aqua_blue_left
{
	top:4px !important;
}



/* Disabled styles */
.button_aqua_blue_left_disabled
{
	opacity:0.6;
}

.button_aqua_blue_middle_disabled
{
	opacity:0.6;
}
.button_aqua_blue_right_disabled
{
	opacity:0.6;	
}
