/*********************************************************
 * OVERRIDE ANY GLOBAL STYLES ON CONTROL'S BASE ELEMENTS
 *********************************************************/
.button_thinblue_container img
{
	padding:0px !important;
	margin:0px !important;
}
.button_thinblue_container button
{
	padding:0px;
	margin:0px !important;
	padding-bottom:2px !important;
		
}

/********************************************************
* CONTROL STYLES
*********************************************************/

.button_thinblue_left
{
	position:relative;
	background:transparent url(images/left.png) no-repeat;
	top:6px;
	height:21px;
	width:6px;
}

.button_thinblue_middle
{
	background:url(images/middle.png) repeat-x;
	height:21px;
	border:0px none;
	margin-left:-1px;
	margin-right:-1px;
	font-size:12px;
	cursor:pointer;
}

.button_thinblue_right
{
	position:relative;
	background:transparent url(images/right.png) no-repeat;
	height:21px;
	width:6px;
	top:6px;
}

/* IE Styles */
body.msie .button_thinblue_left
{
	top:4px !important;
}
body.msie .button_thinblue_right
{
	top:4px !important;
}
body.msie .button_thinblue_middle
{
	padding-bottom:0px !important;
}

/* Webkit Styles */
body.webkit .button_thinblue_middle
{
	line-height:21px;
}

.button_thinblue_left_disabled
{
	opacity:0.6;
}

.button_thinblue_middle_disabled
{
	opacity:0.6;
}
.button_thinblue_right_disabled
{
	opacity:0.6;	
}
