.button_extjs
{
	border:none;
	cursor:pointer;
	background-color:transparent;
}

.button_extjs_left
{
	background:url(left.png);
	height:21px;
	width:6px;
	float:left;
	
	/* IE6 HACK */
	_background:url(left.gif);
	
}

.button_extjs_middle
{
	background:url(middle.png) repeat-x;
	height:21px;
	line-height:21px;
	text-align:middle;
	color:#111;
	font-size:12px;
	float:left;
	padding-left:5px;
	padding-right:5px;
	
	/* IE6 HACK */
	_background:url(middle.gif) repeat-x;
	
}

.button_extjs_right
{
	background:url(right.png);
	height:21px;
	width:6px;
	float:left;
	
	/* IE6 HACK */
	_background:url(right.gif);
	
}

.button_extjs_left_disabled
{
	opacity:0.6;
}

.button_extjs_middle_disabled
{
	opacity:0.6;
	
}

.button_extjs_right_disabled
{
	opacity:0.6;	
}