
.slidetree_black_container
{
	background-color:#aaa;
	border:1px solid #000;
}

/* shown on initial page */
.slidetree_black_header_container
{
	background-color:#9a9a9a;
}


.slidetree_black_page
{
	float:left;
}

.slidetree_black_header
{
	position:relative;
	height:40px;
	color:#202020;
	background:url(images/tab_detail.png) repeat-x;
	
	
}
.slidetree_black_header_detail
{
	background:url(images/tab.png) repeat-x;
	color:white;
	
}
.slidetree_black_back_button
{
	position:absolute;
	background:url(images/back.png) no-repeat;
	left:10px;
	top:13px;
	height:11px;
	width:9px;
	color:white;
	font-size:12px;
	text-align:center;
	cursor:pointer;
}
.slidetree_black_title
{
	font-size:20px;
	text-align:center;
	line-height:40px;
	
}


.slidetree_black_item
{
	background:url(images/tab.png) repeat-x;
	cursor:pointer;
	vertical-align:middle;
	position:relative;
	border-bottom:1px solid #888;
	color:#fff;

}
.slidetree_black_item_detail
{
	background:url(images/tab_detail.png) repeat-x;
	cursor:pointer;
	vertical-align:middle;
	position:relative;
	border-bottom:1px solid #757575;
	color:#202020;

}



.slidetree_black_item_icon
{
	position:absolute;
	top:13px;
	left:-20px;
}
.slidetree_black_item_left
{
	position:absolute;
	left:30px;
	font-size:16px;

}

.slidetree_black_item_more
{
	position:absolute;
	right:5px;
	top:10px;
	background:url(images/arrow.png);
	height:25px;
	width:20px;
}
.slidetree_black_item_count
{
	color:#5c5c5c;
	font-size:18px;
	position:absolute;
	right:10px;
	top:0px;
}
