.shadow_lightblue_1
{
	float:left;
	background:url(shadow.gif) right bottom no-repeat;	
	clear:both;
}

.shadow_lightblue_2
{
	background:url(corner_bl.gif) -13px 100% no-repeat;
}

.shadow_lightblue_3
{
	padding:0 16px 16px 0;
	margin-left:-5px;
	background:url(corner_tr.gif) 100% -13px no-repeat;
}

