/* Special body style - must be a specific background color to not look like crap */
body
{
	background-color:#303030;
}

/* TAB */
.tabpanel_graphite_tab_mid
{
	height:25px;
	color:white;
	font-size:12px;
	cursor:pointer;
	border:0px none;
	font-weight:bold;
	float:left;
	line-height:22px;
	text-align:center;
	width:100px;
	padding:5px;
}
/* TAB ACTIVE */
.tabpanel_graphite_tab_mid_active
{
	background:url(bg.png) repeat-x;
	height:25px;
	color:white;
	float:left;
}

.tabpanel_graphite_divider
{
	clear:both;
}
.tabpanel_graphite_left
{
	float:left;
}
.tabpanel_graphite_right
{
	float:left;
}
.tabpanel_graphite_tab_left_active
{

}
.tabpanel_graphite_tab_right_active
{
}

.tabpanel_graphite_tab_left
{
	float:left;
}
.tabpanel_graphite_tab_right
{
	background:url(bg.png) repeat-x;
	height:25px;
	color:white;
	width:5px;
	float:left;
}

/* TAB HOVER */
.tabpanel_graphite_tab_mid:hover
{
	/* mid end of tab - hover */

}

.tabpanel_graphite_tab_left:hover
{
	/* left end of tab - hover */
}
.tabpanel_graphite_tab_right:hover
{
	/* right end of tab - hover */	
}

