---
:installed: 2008-02-24 22:47:09.306489 -05:00
:plugins: []

:service: ruby
:service_version: 1.0.0
:websdk: 2.1.0
:widgets: 
- :name: app:box
  :version: 1.1.1
- :name: app:datacache
  :version: "1.0"
- :name: app:editinplace
  :version: "1.0"
- :name: app:folder
  :version: "1.0"
- :name: app:stopwatch
  :version: "1.0"
- :name: app:tooltip
  :version: "1.0"
- :name: app:yui_map
  :version: "1.0"
- :name: app:button
  :version: "1.0"
- :name: app:http
  :version: "1.0"
- :name: app:if
  :version: "1.0"
- :name: app:panel
  :version: "1.0"
- :name: app:validation
  :version: "1.0"
- :name: app:widget
  :version: "1.0"
- :name: app:calendar
  :version: "1.0"
- :name: app:modalbox
  :version: "1.0"
- :name: app:pagination
  :version: "1.0"
- :name: app:tabpanel
  :version: "1.0"
- :name: app:template
  :version: "1.0"
- :name: app:message
  :version: "1.0"
- :name: app:combobox
  :version: "1.0"
- :name: app:content
  :version: "1.0"
- :name: app:datatable
  :version: "1.0"
- :name: app:download
  :version: "1.0"
- :name: app:search
  :version: "1.0"
- :name: app:statemachine
  :version: "1.0"
- :name: app:upload
  :version: "1.0"
- :name: app:chart
  :version: "1.0"
- :name: app:field
  :version: "1.0"
- :name: app:iterator
  :version: "1.0"
- :name: app:progressbar
  :version: "1.0"
- :name: app:modaldialog
  :version: "1.0"
- :name: app:script
  :version: "1.0"
- :name: app:security
  :version: "1.0"
