
.input_rounded_search_input
{
	background:transparent url(images/input.png) repeat-x;
	border:0px none;
	font-size:11px;
	height:19px;
	line-height:19px;
	padding:2px 1px 1px;
	margin-left:-1px;
	margin-right:-1px;
	outline:none;
	font-family:"arial",sans-serif;
}
body.gecko .input_rounded_search_input
{
	padding:4px 1px 1px;
}
.input_rounded_search_left
{
	background:transparent url(images/left.png) no-repeat;
	height:19px;
	width:20px;
	position:relative;
	padding:0px !important;
	top:5px;
}
.input_rounded_search_right
{
	background:transparent url(images/right.png) no-repeat ;
	height:19px;
	width:10px;
	position:relative;
	padding:0px !important;
	top:5px;
}

body.msie .input_rounded_search_left
{
	top:3px;
}
body.msie .input_rounded_search_right
{
	top:3px;
}
body.msie .input_rounded_search_input
{
	padding:0px 1px 1px;
}
