.panel.dark.container
{
	position:relative;
	border:1px solid #555;
	background-color:#666;
	padding:0px;
}
.panel.dark.container div
{
	padding:0;
	margin:0;
}
.panel.dark .header
{
	background:#5E5E5E url(images/header.png) repeat-x scroll left bottom;
	border-bottom:1px solid #505050;
	height:24px;
	line-height:24px;
	padding:5px !important;
	border-top:1px solid #7d7d7d;	
	border-left:1px solid #7d7d7d;	
	border-right:1px solid #7d7d7d;	
}

.panel.dark .top_left
{
}

.panel.dark .title
{
	color:white;
	vertical-align:middle; 
	line-height:24px; 
}

.panel.dark .top_right
{
}

.panel.dark .close 
{ 
	cursor:pointer;
	background:transparent url(images/close.png) no-repeat left top;
	border:medium none;
	display:block;
	height:16px;
	position:absolute;
	right:10px;
	top:10px;
	width:16px;
} 

.panel.dark .bottom
{
	border-bottom:1px solid #7d7d7d;	
	border-left:1px solid #7d7d7d;	
	border-right:1px solid #7d7d7d;	
}

.panel.dark .bottom_left
{
	border:none;
}

.panel.dark .bottom_right
{
	border:none;
}

.panel.dark .bottom_text
{
	color:white;
	font-size:11px;
	padding:2px !important;
	position:relative;
	left:5px;
}

.panel.dark .close:hover
{ 
} 

.panel.dark .body
{
	color:white;
	padding:10px !important;
	border-left:1px solid #7d7d7d;	
	border-right:1px solid #7d7d7d;	

}
