<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Label</key>
   <string>com.appcelerator.admin.server</string>
   <key>OnDemand</key>
   <true/>
   <key>ProgramArguments</key>
   <array>
	  <string><%= rubypath %></string>
      <string><%= workingdir %>/script/server</string>
      <string>-p</string>
      <string><%= port %></string>
   </array>
   <key>RunAtLoad</key>
   <true/>
   <key>WorkingDirectory</key>
   <string><%= workingdir %></string>
</dict>
</plist>