#styled_tab .tab_inactive
{
	border-color:#999;
	border-bottom:1px solid #999; /* make this the same as the outer border */
	background-color:#ff9900;
	color:#111;
}

#styled_tab .tab_active
{
	border-color:#999;
	border-bottom:1px solid #fff; /* make this the same as the background */
	background-color:#fff;
	color:#111;
	font-weight:bold;
}