body
{
	background-color:#fff;
	font-family:tahoma,arial;
	font-size:12px;
	color:#696969;
}
td.term
{
	background-color:#ddd;
	padding:5px;
	font-weight:bold;
}
td.def
{
	background-color:#ffffcc;
	padding:5px;
}
.active
{
	text-decoration:none;
	color:#333;
	font-size:12px;
	padding:5px;
	background-color:#ffffcc;
}
a
{
	text-decoration:underline;
	cursor:pointer;
}
p
{
	color:#696969;
}
tt
{
	font-weight:bold;
	color:#000;
}
h2
{
	color:#0f3c71;
}
h4
{
	color:#0f3c71;
}

h3
{
	padding-top:5px;
	color:#0f3c71;
}

pre.command {
 background: #f7f7f7;
 border: 1px solid #d7d7d7;
 margin: 1em 1.75em;
 padding: .25em;
 overflow: auto;
}

pre.command_output {
 background: #fafafa;
 border: 1px solid #eee;
 margin: 1em 2.5em;
 padding: .25em;
 overflow: auto;
}


.bold_value
{
	color:#0f3c71;
	font-size:12px;
	font-weight:bold;
}
.bold_value_grey_lg
{
	color:#696969;
	font-size:14px;
	font-weight:bold;
	
}
.bold_value_grey
{
	color:#696969;
	font-size:12px;
	font-weight:bold;
}


/* validator style */
.field_error
{
	font-size:11px;
	color:#ff0000;
	font-weight:normal;
}

.row_entry:hover
{
	border:1px solid #666;	
}
.row_entry
{
	border-left:1px solid #ccc;
	border-top:1px solid #ccc;
	border-right:1px solid #aaa;
	border-bottom:1px solid #aaa;
	padding:17px;
	padding-bottom:20px;
	line-height:5px;
	margin-bottom:7px;
	cursor:pointer;
	vertical-align:middle;
}
.row_selected
{
	border:1px solid #666;
	background-color:#fff;
}

/*
** Standard INPUT, SELECT and TEXTAREA Styles
** includng focus styles
**
*/

input[type=text]:focus
{
	background-color:#ffffcc;
}
input[type=password]:focus
{
	background-color:#ffffcc;
}

input[type=button]
{
   border-width:1px;
   padding: 2px 7.5px 2px 7.5px;
   margin: 0;
}

select:focus
{
	background-color:#ffffcc;
}
select
{
	border-color:#7C7C7C rgb(195, 195, 195) rgb(221, 221, 221);
	border-style:solid;
	border-width:1px;
	font-size:14px;
	margin:1px;
	padding:3px 3px 3px 10px;
	width:300px;
}

input[type="text"] 
{
	border-color:#7C7C7C rgb(195, 195, 195) rgb(221, 221, 221);
	border-style:solid;
	border-width:1px;
	font-size:14px;
	margin:1px;
	padding:3px 3px 3px 10px;
	width:280px;
}
input[type="password"] 
{
	border-color:#7C7C7C rgb(195, 195, 195) rgb(221, 221, 221);
	border-style:solid;
	border-width:1px;
	font-size:14px;
	margin:1px;
	padding:3px 3px 3px 10px;
	width:280px;
}
textarea:focus
{
	background-color:#ffffcc;
}
textarea
{
	border-color:#7C7C7C rgb(195, 195, 195) rgb(221, 221, 221);
	border-style:solid;
	border-width:1px;
	font-size:14px;
	margin:1px;
	padding:3px 3px 3px 10px;
	width:300px;
}
img
{
	border:0;
}

.optional_text
{
    padding: 1em 2em;
    border-left: 1em solid #f6f6f6;
    padding: 1em 2em;
    margin: 0.5em 0em;
}
