
.select_extjs
{
	position:relative;
	font-size:12px;
}
.select_extjs_input
{
	background:transparent url(input.gif) repeat-x scroll 0pt;
	border:1px solid #B5B8C8;
	padding:1px 3px;
	height:18px;
	outline:none;
}
.select_extjs_input:focus
{
	border:1px solid #7EADD9;
}
.select_extjs_arrow
{
	background:transparent url(arrow.gif) no-repeat scroll 0pt;
	border-color:#B5B8C8;
	border-style:none none solid;
	border-width:0pt 0pt 1px;
	cursor:pointer;
	height:20px;
	width:17px;
	position:relative;
	top:7px;
	
	/* IE HACKS */
	_top:4px;
	*top:4px;

	
}

.select_extjs_dropdown
{
	border:1px solid #B5B8C8;
	border-top:none;
	cursor:pointer;
	overflow-x:hidden;
	overflow-y:auto;
	position:absolute;
	z-index:100;
	display:block;
	background-color:#fff;
	left:0px;
	height:200px;
	margin:0px;
	top:19px;
	padding-right:5px;

	/* IE HACKS */
	_top:26px;
	*top:25px;

	
}

.select_extjs_dropdown_item
{
	border:1px solid #fff;
	margin-right:-5px;
}
.select_extjs_dropdown_hover
{
	background-color:#dfe8f6;
	border:1px dotted #a3bae9;
}
