.panel_lightblue
{
	position:relative;
}
.panel_lightblue_hdr
{
	background:#fff url(top.png) repeat-x;
	height:21px;
	margin-left:7px;
	margin-right:8px;
}
.panel_lightblue_tl
{
	background-image:url(tl.png);
	left:0pt;
	top:0pt;
	position:absolute;
	height:21px;
	width:8px;

	/* IE6 HACKS */
	_background-image:url(tl.gif);
}


.panel_lightblue_title
{
	text-align:center; 
	font-weight:bold; 
	padding-top:3px;
	overflow:hidden;
	
}
.panel_lightblue_tr
{
	background-image:url(tr.png);
	right:0pt;
	top:0pt;
	position:absolute;
	height:21px;
	width:9px;	
	
	/* IE6 HACKS */
	_background-image:url(tr.gif);
	
}

.panel_lightblue_btm
{
	background:url(btm.png) repeat-x;
	height:22px;
	margin-left:8px;
	margin-right:8px;

	/* IE6 HACKS */
	_background:url(btm.gif) repeat-x;
}
.panel_lightblue_bl
{
	background-image: url(bl.png);
	left:0pt;
	bottom:0pt;
	position:absolute;
	height:22px;
	width:9px;

	/* IE6 HACKS */
	_background-image:url(bl.gif);
}
.panel_lightblue_br
{
	background-image:url(br.png);
	right:0pt;
	bottom:0pt;
	position:absolute;
	height:22px;
	width:9px;

	/* IE6 HACKS */
	_background-image:url(br.gif);
}

.panel_lightblue_btm_text
{
	font-size:11px;
	padding-left:3px;
	text-align:left;
	overflow:hidden;

}

.panel_lightblue_close 
{ 
	cursor:pointer;
	background:url(close.png);
	height:16px;
	position:absolute;
	right:10px;
	top:5px;
	width:16px;

	/* IE6 HACKS */
	_background:url(close.gif);

} 


.panel_lightblue_close:hover
{ 
}

.panel_lightblue_body
{
	background-color:#cee8f7;   
	padding:7px;
	border-left:1px solid #cdd8f7;
	border-right:1px solid #cdd8f7;
	
	/* IE6 HACKS */
	_margin-bottom:-1px;
	_line-height:16px;
	
}

