.panel_vimeo
{
	position:relative;
}
.panel_vimeo_hdr
{
	height:70px;
	width:440px;
	background:url(top.gif) no-repeat;
}

.panel_vimeo_tl
{

}


.panel_vimeo_title
{
	
}

.panel_vimeo_tr
{
}


.panel_vimeo_btm
{
	height:137px;
	width:440px;
	background:url(bottom.gif) no-repeat;
	
}
.panel_vimeo_bl
{
	
}
.panel_vimeo_br
{
	
}
.panel_vimeo_btm_text
{
	
}

.panel_vimeo_close 
{ 
	position:absolute; 
	top:10px; 
	right:15px; 
	height:15px; 
	width:16px; 
	cursor:pointer;
	background:url(close.gif) no-repeat;
} 
.panel_vimeo_close:hover
{ 

} 

.panel_vimeo_body
{
	background-color:#80cefd;
	height:200px;
	width:440px;
	
}

