.medium_text
{
	font-size:122%;
}
.small_text
{
   font-size: 85%;
 }
.info_color
{
	color:#999;
}
.error_color
{
	color:#FF0000;
}
.field
{
	padding:7px;
}
.selected
{
	background-color:#ffffcc;
	padding:7px;
}



