.accordion_basic_container
{
	padding-right:5px;
	border:1px solid #bbb;
	border-top:none;
}
.body.ie6 .accordion_basic_container
{
	padding-right:0px;
}
.accordion_basic_row
{
	clear:both;
	height:25px;
}
.accordion_basic_row_left
{
	
}
.accordion_basic_row_middle
{
	background-color:#ddd;
	border-top:1px solid #bbb;
	height:25px;
	float:left;
	line-height:25px;
	color:#666;
	padding-left:5px;
	cursor:pointer;
	
}
.accordion_basic_row_right
{
}
.accordion_basic_row_data
{
	clear:both;
	padding-right:5px;
}

.accordion_basic_row_left_active
{
	
}
.accordion_basic_row_middle_active
{
	border-bottom:1px solid #bbb;
	background-color:#bbb;
	color:#333;
}
.accordion_basic_row_right_active
{
}
.
