<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <httpHandlers>
      <add verb="*" path="*.app" type="Appcelerator.ServiceBroker, Appcelerator" />
    </httpHandlers>
  </system.web>
  <appSettings>
      <add key="LogLocation" value="c:\logs\appcelerator.log" />
      <add key="LogLevel" value="OFF" />
      <add key="AutoFlushLog" value="true" />
  </appSettings>
</configuration>