/* TAB */
.tabpanel_white_tab_mid
{
	background:url(images/top_grey.png) repeat-x;
	bottom:0pt;
	height:22px;
	color:#666;
	font-size:12px;
	cursor:pointer;
	border:0px none;
	min-width:100px;
	margin-left:-1px;
	margin-right:-1px;
	margin-bottom:-1px;
	font-weight:bold;
	float:left;
	line-height:22px;
	text-align:center;
	position:relative;
	top:1px;
	
	/* IE 6/7 */
	*top:2px;
	*margin-bottom:0px;
	_width:100px;
}

/* TAB ACTIVE */
.tabpanel_white_tab_mid_active
{
	background:url(images/top_white.png) repeat-x !important;
	height:22px;
	color:#555;
	border-bottom:1px solid #fff;
}

.tabpanel_white_divider
{
	height:1px;
	background-color:#d7dcdf;
	clear:both;
	
	/* IE 6 */
	_border-top:1px solid #d7dcdf;
	_background-color:none;
}

.tabpanel_white_left
{
	width:20px;
	float:left;
}

.tabpanel_white_right
{
	float:left;
}

.tabpanel_white_tab_left_active
{
	background:url(images/tl_white.gif) no-repeat !important;
	width:8px;
	height:22px;
	float:left;
}

.tabpanel_white_tab_right_active
{
	background:url(images/tr_white.gif) no-repeat !important;
	width:9px !important;
	height:22px;
	float:left;
}

.tabpanel_white_tab_left
{
	background:url(images/tl_grey.gif) no-repeat;
	width:8px;
	height:22px;
	position:relative;
	border:none;
	float:left;
	top:1px ;

	/* IE 6/7 */
	*top:2px;

}
.tabpanel_white_tab_right
{
	background:url(images/tr_grey.gif) no-repeat;
	width:8px;
	height:22px;
	margin-right:10px;
	position:relative;
	border:none;
	float:left;
	top:1px;

	/* IE 6/7 */
	*top:2px;
}

/* TAB HOVER */
.tabpanel_white_tab_mid:hover
{
	/* mid end of tab - hover */
}

.tabpanel_white_tab_left:hover
{
	/* left end of tab - hover */
}

.tabpanel_white_tab_right:hover
{
	/* right end of tab - hover */	
}

